html, body, canvas {
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

form.upload {
    padding: 32px;
}

.container {
    padding: 10px;
}

h1.logo {
    margin: 0;
    font-weight: normal;
}

.progress {
    width: 500px;
    height: 24px;
    border: solid 1px gray;
    border-radius: 2px;
}

.progress .percentage {
    position: absolute;
    width: 500px;
    text-align: center;
}

.progress .bar {
    height: 24px;
    border-right: solid 1px #aaa;
    background: #eee;
    width: 0px;
}

.bimsurfer-static-tree, .bimsurfer-metadata {
    overflow: hidden;
    overflow-y: scroll;
}

.bimsurfer-static-tree, .bimsurfer-static-tree * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    z-index: 1;
}

.bimsurfer-static-tree div.item {
    border-top: solid 1px #eee;
    line-height: 12pt;
}

.bimsurfer-static-tree > div > div.item {
    border: none;
}

.bimsurfer-static-tree div.bimsurfer-tree-label {
    margin-left: -100px;
    padding-left: 100px;
    cursor: pointer;
    white-space: nowrap;
}

.bimsurfer-static-tree .bimsurfer-tree-children-with-indent {
    padding-left: 10px;
}

.bimsurfer-static-tree div.selected {
    background: #6ae;
    color: white;
}

.bimsurfer-static-tree div.item,
.bimsurfer-static-tree div.item i {
    font-size: 15px !important;
    line-height: 24px !important;
}

.bimsurfer-static-tree div.bimsurfer-tree-label .collapse:before {
  content: "\e5ce  ";
}

.bimsurfer-static-tree div.bimsurfer-tree-node-collapsed .collapse:before {
  content: "\e5cf  ";
}

.bimsurfer-static-tree div.bimsurfer-tree-node-collapsed .item {
  display: none;
}

.material-icons {
  color: #444;
}

.bimsurfer-static-tree i.icon.material-icons {
  font-size: 24px !important;
  margin-right: 0.3em;
  vertical-align: -5px;
}

.bimsurfer-static-tree .bimsurfer-tree-eye {
  float: right;
  padding: 0 0.5em;
  display: inline-block;
  background: white;
  z-index: 1000;
  position: relative;
}

.bimsurfer-static-tree .bimsurfer-tree-eye:before {
    content: "\e8f4";
}
  
.bimsurfer-tree-column {
    display: inline-block;
    overflow: hidden;
}

i.bimsurfer-tree-eye-off {
    opacity: 0.2 !important;
}

.bimsurfer-metadata h3 {
    font-weight: bold;
    margin: 0;
    padding: 10px 0 0 0;
    width: 1000px;
}

.bimsurfer-metadata table {
    width: 100%;
}

.bimsurfer-metadata h3:before {
    content: "\25b8  ";
}

.bimsurfer-metadata th,
.bimsurfer-metadata td {
    width: 50%;
    border-bottom: solid 1px #eee;
    text-align: left;
}

.bimsurfer-metadata td:nth-child(1),
.bimsurfer-metadata th:nth-child(1) {
    width: 30%;
}

.bimsurfer-metadata td:nth-child(2),
.bimsurfer-metadata th:nth-child(2) {
    width: 70%;
}

.bimsurfer-metadata,
.bimsurfer-metadata h3,
.bimsurfer-static-tree {
    font-size: 10pt;
}

.spinner {
  position: fixed;
  top: calc(50% - 64px);
  left: calc(50% - 64px);
  width: 128px;
  height: 128px;
  border: solid 4px gray;
  border-bottom-color: white;
  border-radius: 50%;
  animation: spin 2s linear infinite;
  z-index: 9999;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.log table {
    border-collapse: collapse;
    border-radius: 16px;
    overflow: hidden;
    width: 100%;
    border: 0;
}
.log td {
    padding-left: 10px;
}
.log tr {
    background: #f5f5f5;
}
.log table thead tr {
  height: 60px;
  background: #ccc;
}
.log table tbody tr {
  height: 50px;
}
.log th, .log td {
  border: none;
}
.log tr:nth-child(2n) {
    background-color: #f0f0f0;
}

.start_sharing,
.listen_mode {
    position: fixed;
    bottom: 50px;
    left: 50%;
    width: 380px;
    margin-left: -220px;
    border-radius: 10px;
    background: green;
    padding: 10px 30px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
}

.start_sharing:hover {
    background: rgb(0, 170, 0);
}

.listen_mode {
  background: orange;
  cursor: default;
}

.start_sharing i,
.listen_mode i {
    color: white;
    vertical-align: -6px;
    padding-right: 10px;
}

div.start_sharing > span.url > i {
    vertical-align: 8px;
}

.start_sharing pre {
    display: inline-block;
    font-size: 70%;
    overflow-wrap: anywhere;
    width: 300px;
    white-space: normal;
}

.start_sharing .action,
.listen_mode .action {
    display: block;
}

.start_sharing .url {
    border: solid 1px #666;
    background: #eee9;
    color: #444;
    padding: 2px 12px;
    border-radius: 8px;
    display: none;
}

.bimsurfer-static-tree .controls div {
    display: inline-block;
}

.bimsurfer-static-tree .controls div i {
    margin: 8px;
    padding: 4px;
    border: solid 1px #ccc;
    border-radius: 2px;
    cursor: pointer;
}

.bimsurfer-static-tree .controls div.checked i {
    border: solid 1px #bbb;
    background: #eee;
    box-shadow: inset 1px 1px 2px 2px rgba(0,0,0,0.15);
}

.bimsurfer-static-tree .controls div i:hover {
    background: #ddd;
    border-color: #aaa;
}

.bimsurfer-static-tree .number-occurrences {
    padding-left: 4px;
    font-size: 80%;
}

.bimsurfer-static-tree .number-occurrences:before {
    content: '(';
}

.bimsurfer-static-tree .number-occurrences:after {
    content: ')';
}
