<!DOCTYPE html>
<html lang="en">
<head>
    <title>IfcOpenShell viewer</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='main.css') }}">
    {{ dropzone.load_css() }}
    {{ dropzone.style('border: 2px dashed #0087F7; margin: 10%; min-height: 400px;') }}
<body>

    <h3 style="text-align: center;">Upload IFC files</h3>


{{ dropzone.create('put_main') }}
<!-- {{ dropzone.config(redirect_url=url_for('put_main')) }} -->
{{ dropzone.load_js() }}
{{ dropzone.config() }}


</body>
</html>
