<!DOCTYPE html>
<html lang="en">

<head>
    <title>IfcOpenShell viewer</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='main.css') }}">

<body>
    <div class='container'>
        <h1 class='logo'>IfcOpenShell viewer</h1>
        Conversion in progress...
        <div class='progress'>
            <div class='percentage'></div>
            <div class='bar'></div>
        </div>
    </div>
    <script>
        var bar = document.querySelector(".bar")
        var percentage = document.querySelector(".percentage")
        function poll() {
            fetch("/pp/{{ id }}").then(r => r.json()).then((r) => {
                if (r.progress === 100) {
                    window.location = "/v/{{ id }}";
                } else {
                    var p = r.progress;
                    if (p < 0) {
                        percentage.innerHTML = "<i>in queue</i>";
                        p = 0
                    } else {
                        percentage.innerHTML = p + "%";
                    }
                    bar.style.width = p * 5 + 'px';
                    setTimeout(poll, 1000);
                }
            });
        }

        poll();
    </script>

</body>

</html>